:root {
    --font-clash: 'ClashDisplay', 'Clash Display', sans-serif;
    --font-general-sans: 'GeneralSans', 'General Sans', sans-serif;
    --font-monument: 'MonumentExtended', 'Monument Extended', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --font-lobster: 'Lobster', cursive, sans-serif;
}